#horariogrande {
    width:600px;
}

#horariodiv1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


@media screen and (max-width: 700px) {
    #horariogrande {
        width:450px;
    }
}

@media screen and (max-width: 500px) {
    #horariogrande {
        width:300px;
    }
}