.footer1 {
    background-color: black;
    color: white;
    width: 100%;
    border-radius: 10px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
          
}

.logo-footer img{
    width: 80px;
    margin: 10px;
    border-radius: 6px;
}

.redes-sociales-footer li {
    display: inline;
    
    margin: 10px;
}

.redes-sociales-footer img {
    width: 2rem;
}

.redes-sociales img:hover {
    opacity: 0.8;
}

.logo-footer {
    margin: 20px;
}

.texto-footer {
    margin: 20px;
    line-height: 25px;
}

.last-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.last-footer p {
    line-height: 20px;
    font-size: 13px;
    margin-bottom: 10px;
    }

.linea2 {
    border: 1px solid rgb(255, 0, 0);
    width: 50px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 375px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        width: 100%;
        margin-top: 2rem;
        
    }

    .texto-footer {
        margin: 15px;
        line-height: 30px;
    }
           

}