.info-mapa-horarios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
    margin-right: 15%;
    margin-left: 15%;
  }
  
  .info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  
  .localizacion {
    display: flex;
    flex-direction: column;
  
    margin-top: 25px;
  
    line-height: 25px;
    font-size: 18px;
  }
  
  .info1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .info-mapa h2 {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 25px;
  }
  
  .l10 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .l2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
  }
  .l10 img {
    width: 35px;
    height: 35px;
    margin: 5px;
  }
  
  .l2 img {
    width: 35px;
    height: 35px;
    margin: 5px;
  }
  
  .metro {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  
  .llegar {
    font-weight: bold;
    margin-top: ;
    font-size: 25px;
  }
  
  .metro {
    margin: 15px;
    text-align: center;
  }

  @media screen and (max-width: 1060px) {
    .info-mapa-horarios {
        display: flex;
        flex-direction: column;
      }
    
      .mapa iframe {
        width: 100%;
        margin-top: 0;
        margin-bottom: 15px;
      }

      .info-mapa h3 {
        margin-top: 2rem;
        margin-bottom: 1rem;
      }
      .info-mapa h2 {
        font-weight: bold;
        margin-bottom: 1rem;
      }
    
      .l10 {
        margin-left: 50px;
      }
    
      .l2 {
        margin-left: 50px;
      }
    
      .l10 img {
        width: 35px;
        height: 35px;
        margin: 5px;
      }
    
      .l2 img {
        width: 35px;
        height: 35px;
        margin: 5px;
      }
    
      .metro {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-direction: column;
      }
    
      .llegar {
        font-weight: bold;
      }
    
      .metro {
        margin-right: 15px;
        margin-left: 15px;
        text-align: center;
        margin-top: 30px;
      }
  }