@import url("./header.css");
@import url("./reset.css");
@import url("./container-programas.css");
@import url("./container-testimonios.css");
@import url("./container-infomapa.css");
@import url("./footer.css");
@import url("./container-informacion.css");


* {
    font-family: 'Lato', sans-serif;
    outline: none;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}



  

