@import url("./header.css");
@import url("./reset.css");

@import url("./horario.css");
@import url("./programas.css");
@import url("./testimonios.css");
@import url("./info-mapa.css");
@import url("./footer.css");
@import url("./informacion.css");


* {
    font-family:  'Lora', serif;
    outline: none;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}



  

